header{
   display: flex;
   justify-content: space-between;
}

nav ul{
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

nav a{
   width: 100px;
   line-height: 64px;
   text-align: center;
   display: block;
}

a:hover{
   background: #eee;
}